.idea
*.iml
*config.properties
target
/scripts/config.py
*.log
*.pyc
scripts/project_config.json
/geolocation_config.py

datasets/data_2017_01_exception_events_1000m
datasets/data_2017_02_exception_events_1000m
datasets/data_2017_03_exception_events_1000m
datasets/data_2017_04_exception_events_1000m
datasets/data_2017_05_exception_events_1000m
datasets/data_2017_06_exception_events_1000m
datasets/data_2017_07_exception_events_1000m
datasets/data_2017_08_exception_events_1000m
datasets/data_2017_09_exception_events_1000m
datasets/data_2017_10_exception_events_1000m
datasets/data_2017_11_exception_events_1000m
datasets/data_2017_12_exception_events_1000m

datasets/data_2017_01_exception_events_100m
datasets/data_2017_02_exception_events_100m
datasets/data_2017_03_exception_events_100m
datasets/data_2017_04_exception_events_100m
datasets/data_2017_05_exception_events_100m
datasets/data_2017_06_exception_events_100m
datasets/data_2017_07_exception_events_100m
datasets/data_2017_08_exception_events_100m
datasets/data_2017_09_exception_events_100m
datasets/data_2017_10_exception_events_100m
datasets/data_2017_11_exception_events_100m
datasets/data_2017_12_exception_events_100m

datasets/stats100aug_event_days
datasets/stats1000aug_all_days
datasets/stats100aug_all_days
datasets/stats1000
datasets/apriori_2017_all_months_5min
datasets/tweets
datasets/apriori_exception_events
